.outercategorydiv{
    width: 1200px;
    height: 98px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin:10px 30px 15px 30px;
  
}


.innercategorydiv{
    text-align: center;
}
.innercategorydiv img{
    height:64px;
}
.innercategorydiv p{
    margin-top:2px;
}