.menu{
    display: flex;
    height: 106px;
    background-color: #f1f2f4;
}
.menu div{
    width: 237px;
    height: 91px;
    background-color: white;
    margin-right: 20px;
    text-align: center;
    align-content: center;
}